/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
.header-section {
    display: flex;
    justify-content: space-between; /* Align items on a single row */
    align-items: center; /* Vertically center items */
    padding: 10px 20px; 
}

.nav-bar ul {
    display: flex; /* Use flexbox */
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.nav-bar ul li {
    margin-right: 15px; /* Space between items */
}

.nav-bar ul li a {
    color: #d62828; /* Text color */
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

section {
    width: 600px;
    margin: auto;
}

article {
  padding: 50px 0px;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  display: block;
  margin: auto;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}

/*about section CSS updates */
.about-section {
  display: flex;
  align-items: center; /* Vertically center*/
  justify-content: space-around; /* Adjust spacing between items */
}

.text-content {
  margin-left: 70px; /* Space between image and text */
  text-align: left;
}

.background-content {
    margin-top: 20px; /* Space above background section */
    margin-bottom: 50px;
}

/* portfolio section CSS updates */
.portfolio-section {
    display: flex; /* Align projects in a single row */
    gap: 20px;
    
    justify-content: center;  /* Center align projects */
}

.portfolio-section h3 {
    width: auto;
    text-align: center; /* Center the title */
    margin-top: 20px; 
}

.portfolio-item {
    text-align: center; /* Center the text and images */
}

.project-description {
    font-size: 14px; /* Set the font size for descriptions */
    flex-wrap: wrap;
}